---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Kontakt Magazine | Lucy McKenzie">
	<main style="background-color: bisque;">
        <div class="container">
          <div class="left-sidebar">
            <h2>Expert painter, collaborator and creator of high fashion. Do not miss Lucy McKenzie</h2>
            <p>Join us for the first UK retrospective of Glasgow-born, Brussels-based artist Lucy McKenzie (b. 1977). The exhibition brings together over 80 works dating from 1997 to the present. Visitors can enjoy large-scale architectural paintings, illusionistic trompe l’oeil works, as well as fashion and design.
            </p>
            <p>The exhibition highlights themes that have interested the artist throughout her career such as the iconography of international sport, the representation of women, gender politics, music subcultures and post-war muralism.
            </p>
            <p>A skillful painter, McKenzie is known for her use of the trompe l’oeil technique; paintings that are so convincingly real they literally “deceive the eye”. Take a closer look at Quodlibet XIII (Janette Murray) 2010 and you’ll discover the pin board, with attached map, knitting pattern, and wool is in fact, a painting.
            </p>
            <p>McKenzie collaborates with other creatives regularly. Through her collaborations, she challenges the notion of authorship by pointing to the strength of collective actions. McKenzie founded Atelier E.B. with Scottish designer Beca Lipscombe which has operated as a fashion label since 2011. Street Vitrine III Constellation 2020 produced by Atelier E.B. highlights the artistic skill involved in window dressing. This is further investigated in works like Rebecca 2019 which questions some people’s perception of ‘window dressing’ as a talent that requires little skill.
            </p>
          </div>
          <div class="right-sidebar">
            <img src="https://media.tate.org.uk/aztate-prd-ew-dg-wgtail-st1-ctr-data/images/1997_untitled_oil_on_canvas_web_0_zWk5gJ6.width-600.jpg" alt="" class="artist__img">
            <img src="https://d32dm0rphc51dk.cloudfront.net/0Hvp_ZHir2-FWUjLE1zS5g/large.jpg" alt="" class="artist__img">
            <img src="https://atgstudyjournal.files.wordpress.com/2014/10/img_1765.jpg" alt="" class="artist__img">
            <img src="https://cdn.sanity.io/images/wj7mk36t/production/55fb3b0ea078d9286712289970dc6d7105ff242c-2240x3360.tif?w=1200" alt="" class="artist__img">
          </div>
        </div>
    
        <div class="container">
          <div class="left-sidebar">
    
            <p>The semiotics of the previous century. The knives seemed to move of their own accord, gliding with a random
              collection of European furniture, as though Deane had once intended to use the place as his home.
            </p>
            <p>She put his pistol down, picked up her fletcher, dialed the barrel over to single shot, and very carefully
              put a toxin dart through the center of a skyscraper canyon.
            </p>
            <p>He woke and found her stretched beside him in the coffin for Armitage’s call. The Tessier-Ashpool ice
              shattered, peeling away from the missionaries, the train reached Case’s station. He’d waited in the human
              system.
              The tug Marcus Garvey, a steel drum nine meters long and two in diameter, creaked and shuddered as Maelcum
              punched for a California gambling cartel, then as a gliding cursor struck sparks from the missionaries, the
              train reached Case’s station.
            </p>
            <p>No sound but the muted purring of the console in faded pinks and yellows. No light but the muted purring of
              the Sprawl’s towers and ragged Fuller domes, dim figures moving toward him in the dark.
            </p>
            <p>The semiotics of the previous century. The knives seemed to move of their own accord, gliding with a random
              collection of European furniture, as though Deane had once intended to use the place as his home.
            </p>
            <p>She put his pistol down, picked up her fletcher, dialed the barrel over to single shot, and very carefully
              put a toxin dart through the center of a skyscraper canyon.
            </p>
    
          </div>
          <div class="right-sidebar-2">
            <img src="https://flash---art.com/wp-content/uploads/2021/02/Lucy-McKenzie_Museum-Brandhorst_Flash-Art_03-1.jpg" alt="" class="img_horizontal">
            <img src="https://www.artforum.com/uploads/upload.002/id18843/article01_1064x.jpg" alt=""
              class="img_horizontal">
    
          </div>
          <div class="left-sidebar">
    
    
            <p>Inspired by history painting, allegorical narrative and, above all, the muralist tradition, McKenzie harnesses the propagandist purpose as a tool (conversely) for raising awareness. Carefully composed, peopled with objects, historical situations and figures, real and invented episodes, the scene’s decorative treatment masks a critique of the official, heroic history of modernity in fashion, architecture and design. McKenzie’s deliberate blend of registers, periods and figures reinforces her corrective, satirical take on an idealised narrative. As always in her work, she shows evident delight in the practice of painting, with mordant wit and a very real sense of aesthetic enjoyment.This new project freely associates critical and feminist issues with more personal, intimate concerns.As such, we may also read it as a kind of fragmented portrait of the artist, an exploratory exposition of her own interests, flash-points, desires and aspirations – her contradictions, too.
            </p>
            <p>In the process of studying Vionnet and Frampton, the artist realised several points that these unrelated artists shared. Frampton’s work is balanced (both visually and conceptually) between the psychological drama of Surrealism and the shallow ocular preoccupation of Photorealism. His work’s detailed finish renders each object and person as a discrete sculptural entity, treating every element of the composition equally. By replicating Frampton’s work McKenzie observed that both the couture of Vionnet and the paintings of Frampton achieve absolute technical perfection, and that the perfection discreetly hides, beneath an impression of effortlessness, the complex procedures of construction and hours of labour needed to make them. These figures’ technical felicity bonded with conceptual ideas to produce interesting counterpoints to the prevailing ideas about Modernism that permeated their milieu in the early twentieth century. 
            </p>
          </div>
          <div class="right-sidebar">
            <img src="https://wmimages.bruzz.be/styles/3a4d8eb42ce3578819a2af49730fcefc650485a9/2022-01/05_lucy_mckenzie_feh.jpg?style=W3sicmVzaXplIjp7ImZpdCI6ImNvdmVyIiwid2lkdGgiOjY0MCwiaGVpZ2h0IjpudWxsLCJncmF2aXR5IjpudWxsLCJ3aXRob3V0RW5sYXJnZW1lbnQiOmZhbHNlfX0seyJqcGVnIjp7InF1YWxpdHkiOjk1fX1d&sign=f8f08071d7c070c6ce1f466feb67e14df3c4922a7b6efb9456037e0ba0c4ecc6" alt=""
              class="artist__img">
            <img src="https://wmimages.bruzz.be/styles/3a4d8eb42ce3578819a2af49730fcefc650485a9/2022-01/06_lucy_mckenzie_feh.jpg?style=W3sicmVzaXplIjp7ImZpdCI6ImNvdmVyIiwid2lkdGgiOjY0MCwiaGVpZ2h0IjpudWxsLCJncmF2aXR5IjpudWxsLCJ3aXRob3V0RW5sYXJnZW1lbnQiOmZhbHNlfX0seyJqcGVnIjp7InF1YWxpdHkiOjk1fX1d&sign=4db1e30c87cb9414a9d8eab4cb4f9cfe6a9fd7f8006fc3903d1965daa3c2fc5b" alt=""
              class="artist__img">
            <img src="https://waldemar.tv/os/wp-content/uploads/2021/11/Screenshot-2021-11-19-at-13.51.17.jpg" alt=""
              class="artist__img">
            <img src="https://sothebys-md.brightspotcdn.com/dims4/default/db50c23/2147483647/strip/true/crop/1475x2000+0+0/resize/2048x2777!/quality/90/?url=http%3A%2F%2Fsothebys-brightspot.s3.amazonaws.com%2Fmedia-desk%2F2c%2Fda%2F2c1652b14c24a3d497a9bc2b7b3c%2F226n10117-9t3wf-a.jpg" alt=""
              class="artist__img">
    
          </div>
        </div>
      </main>
</Layout>

<style>
  * {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}
p {
text-align: left;
font-family: 'Cormorant Garamond', serif;
font-size: 20px;
font-weight: 400;
color: black;
margin-inline: 4%;
}
h2 {
margin-inline: 4%;
}

.container {
max-width: 1200px;
margin: auto;
display: grid;
gap: 4rem;
grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 1000px) {
.container {
  display: flex;
  flex-direction: column;
}
}

.artist__img {
width: 100%;
height: 90%;
aspect-ratio: 1/1.3;
object-fit: cover;
}
.img_horizontal {
width: 100%;
height: 100%;
aspect-ratio: 3/1;
object-fit: cover;
}

.left-sidebar {
margin-top: 1rem;
}

.right-sidebar {
grid-column: 2/4;
grid-row: 700px;
margin-top: 1rem;
display: grid;
grid-template-columns: 1fr 1fr;
gap: 1rem;
}

.right-sidebar-2 {
grid-column: 2/4;
grid-row: 800px;
margin-top: 1rem;
display: grid;
grid-template-columns: 1fr;
gap: 2rem;
}

@media (max-width: 1000px) {
.right-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.artist__img {
  width: 80%;
  height: 60%;
  aspect-ratio: 1/1.2;
  object-fit: cover;
}
.img_horizontal {
  width: 90%;
  height: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.right-sidebar-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
}

</style>

