---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Kontakt Magazine | Zahoor ul Akhlaq">
	<main style="background-color: gold; padding-block: 3rem;">
    <div class="container">
      <div class="left-sidebar">
        <h2>The Art of Elsewhere</h2>
        <p>(1941 - 1999)Painter, sculptor, and print-maker Zahoor ul Akhlaq was undoubtedly one of the most significant
          artists working out of pakistan during the later 20th century whose profound artistic and conxeptual influence
          has shaped contemporary art practice for following generations, including Shazia Sikander and Rashid Rana.
        </p>

        <p>Zahoor was influenced by the master calligrafher Yusuf Delhvi, Whose work he was exposed to as a child and
          later underwent a Moderniist phase under Shakir Ali when he was a student at the national College of Arts
          (NCA).
        </p>
        <br>
        <p>Zahoor's extensive knowledge and interest in the indegenous vernacular and tradition, as well as contemporary
          Western thought led to his deconstruction and re-appropriation of the classical miniaturist genre. In Lahore ,
          Zahoor ul-Akhlaq brought post modern ideas to the forefront in the 70's and 80's. At NCA, he on miniature
          painting's relevence and viability as a source for contemporary artists. His own paintings took elements from
          the miniature tradition and combined them with an abstract painterly style.
        </p>
      </div>
      <div class="right-sidebar">
        <img src="/assets/zahoor/zahoor1.jpg" alt="" class="artist__img">
        <img
          src="/assets/zahoor/zahoor2.jpg"
          alt="" class="artist__img">
        <img
        src="/assets/zahoor/zahoor3.jpg"
          alt="" class="artist__img">
        <img
        src="/assets/zahoor/zahoor4.jpg"
          alt="" class="artist__img">
      </div>
    </div>

    <div class="container">
      <div class="left-sidebar">

        <p>Akhlaq’s semifigurative, somewhat abstract works traverse a cross-cultural range of aesthetic conventions.
          Take the wooden structure Untitled, 1983, whose interlocking grids nod to Islamic geometry, Mughal friezes,
          and American Minimalism and Abstract Expressionism (don’t its dark tones recall one of Rothko’s somber
          compositions?).
        </p>
        <br>
        <p>Ensconced within some of the sculpture’s square shelves (it doubles as a display cabinet) are minuscule
          prisms. Such works remind us that Akhlaq stimulated a revival of miniature painting at the NCA—with a twist,
          sometimes pushing the medium to its limits.
        </p>
        <p>Traditional miniatures are constructed via a grid. Within these small squares, a squirrel-hair brush is used
          to make tiny markings, which are repeated to generate figures and forms. So abstract designs conjure
          figurative narratives—from a distance.
        </p>
        <br>
        <p>Moreover, even the most conventional miniatures are decorated by borders, whose floral motifs often intrude
          into the central image. Where does the frame end and the real work begin? Akhlaq draws upon miniature
          painting’s internal paradoxes and propels them into postmodern play.
        </p>
        <p> In the etching Radio Photo of Objects Unidentified, 1983, a cloud-like shape is embedded within a rectangle
          that slots into a grid.
        </p>

      </div>
      <div class="right-sidebar-2">
        <img src="/assets/zahoor/zahoor5.jpg"
          alt="" class="img_horizontal">
        <img
        src="/assets/zahoor/zahoor6.jpg"
          alt="" class="img_horizontal">

      </div>
      <div class="left-sidebar">


        <p>Although 20 years have gone by since he passed away, it is still difficult to imagine him as dead, largely because no one is more alive today in Pakistani art than him. Maharaj Ghulam Hussain Kathak was once inquired by someone in the audience at the Pakistan National Council of the Arts after a performance: "Why have we never seen you dance?" He replied. "It was me who just danced in front of you -- in the performances of Nahid Siddiqui, Nighat Chaodhry, Fasih ur Rehman and Jahanara Akhlaq [Zahoor’s daughter]". Zahoor ul Akhlaq too continues to produce art, in the form of his students and followers who are extending his ideas, pictorial concerns and aesthetic vocabulary. Rashid Rana is the most illustrious example.
        </p>
      </div>
      <div class="right-sidebar">
        <img
        src="/assets/zahoor/zahoor7.jpg"
          alt="" class="artist__img">
        <img
        src="/assets/zahoor/zahoor8.jpg"
          alt="" class="artist__img">

      </div>
    </div>
  </main>
</Layout>

<style>
  * {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}
p {
text-align: left;
font-family: 'Cormorant Garamond', serif;
font-size: 20px;
font-weight: 400;
color: black;
margin-inline: 4%;
}
h2 {
margin-inline: 4%;
}

.container {
max-width: 1200px;
margin: auto;
display: grid;
gap: 4rem;
grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 1000px) {
.container {
  display: flex;
  flex-direction: column;
}
}

.artist__img {
width: 100%;
height: 90%;
aspect-ratio: 1/1.3;
object-fit: cover;
}
.img_horizontal {
width: 100%;
height: 100%;
aspect-ratio: 3/1;
object-fit: cover;
}

.left-sidebar {
margin-top: 1rem;
}

.right-sidebar {
grid-column: 2/4;
grid-row: 700px;
margin-top: 1rem;
display: grid;
grid-template-columns: 1fr 1fr;
gap: 1rem;
}

.right-sidebar-2 {
grid-column: 2/4;
grid-row: 800px;
margin-top: 1rem;
display: grid;
grid-template-columns: 1fr;
gap: 2rem;
}

@media (max-width: 1000px) {
.right-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.artist__img {
  width: 80%;
  height: 60%;
  aspect-ratio: 1/1.2;
  object-fit: cover;
}
.img_horizontal {
  width: 90%;
  height: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.right-sidebar-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
}

</style>

