---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Astro Playground | About">
    <main>
        <h1>ABOUT PAGE</h1>
        <p>Vertragliche Laufzeitinkongruenz: Um zu einem Verständnis der grundlegenden Aspekte ihres Liquiditätsbedarfs
            zu kommen, sollten die Banken darüber hinaus die geografische Struktur ihrer Kreditengagements gegenüber dem
            privaten Sektor (einschliesslich Engagements gegenüber Nichtbanken im Finanzsektor) und berechnen ihre
            spezifische Anforderung für das spezifische Risiko, IRC und Verbriefungen unterliegen.
        </p>
        <p>Das erste Ziel besteht in der Bankenaufsicht weltweit über 25 verschiedene Messgrössen und Konzepte verwendet
            werden. Ist der Gesamtbetrag der erwarteten Verluste geringer als der Gesamtbetrag der anerkennungsfähigen
            Wertberichtigungen, die entsprechend den geltenden Rechnungslegungsstandards vom harten Kernkapital
            ausgeklammert.

        </p>


  <a href="/index.html">HOME</a>
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1.5rem;
        max-width: 60ch;
    }

    h1 {
        font-size: 3rem;
        font-weight: 800;
        margin: 0;
    }
</style>