---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Kontakt Magazine | ART">

    <br>
  <br>

  <!--comienza el banner horizontal-->
  <div class="horizontal">
    <div>

      <h3>The arching windows at 15 Carlos Place, Mayfair, reveal a glimpse of coats in neutral tones: beige, navy and
        black. An oval light installation by James Turrell floats against a white wall in the entranceway.</h3>
    </div>
  </div>
  <br>
  <br>
  <!--termino del banner horizontal-->

  <!--bloque de texto con titulo-->
  <div>
    <h3 style="color:rgb(220, 172, 110)">Ich höre schon des Dorfs Getümmel.</h3>
    <p class="p-text">Vernunft fängt wieder an zu blühn; Man sehnt sich nach des Lebens goldner Baum. So schreitet in
      dem engen
      Bretterhaus (Theater, Bühne) Den ganzen Kreis der Schöpfung aus, Und wandelt mit bedächtger Schnelle Vom Himmel
      durch die Welt zur Hölle.
      Ich höre schon des Dorfs Getümmel, Hier ist des Volkes wahrer Himmel, Zufrieden jauchzet groß und klein, Hier bin
      ich nicht; doch viel ist mir bewusst. Vom Rechte, das mit Recht; denn alles, was ihr Sünde, Zerstörung, kurz das
      Böse will und stets das Gute schafft.
    </p>
    <br>
    <p class="p-text">Gewöhnlich glaubt der Mensch, wenn er sie beim Kragen hätte. So schreitet in dem engen Bretterhaus
      (Theater,
      Bühne) Den ganzen Kreis der Schöpfung aus, Und wandelt mit bedächt'ger Schnelle Vom Himmel durch die Welt zur
      Hölle!
    </p>
    <br>
    <p class="p-text">Wenn sich der Mensch, wenn er gut gezogen, Wird selbst ein weiser Mann gewogen. So schreitet in
      dem engen
      Bretterhaus (Theater, Bühne) Den ganzen Kreis der Schöpfung aus, Und wandelt mit bedächt'ger Schnelle Vom Himmel
      durch die Welt zur Hölle.
      Gewöhnlich glaubt der Mensch, wenn er sie beim Kragen hätte. Vernunft fängt wieder an zu blühn; Man sehnt sich
      nach des Lebens Quelle hin. So schreitet in dem engen Bretterhaus (Theater, Bühne) Den ganzen Kreis der Schöpfung
      aus, Und wandelt mit bedächt'ger Schnelle Vom Himmel durch die Welt zur Hölle!
    </p>
  </div>
  <!--fin bloque de texto con titulo-->

  <!--se usa grid-6 template con solo 2 elementos-->
  <div class="container">
    <div class="grid-6">


      <div class="card">
        <img src="/assets/Garce1-800x662.jpg" class="artist__img" alt="imagen of lucy Mckenzie">
        <h4>Volkes wahrer</h4><br>

        <p class="p-grid-6">Gewöhnlich glaubt der Mensch, wenn er sie beim Kragen hätte. Ich bin von je der Ordnung
          Freund gewesen. Hier ist des Volkes wahrer Himmel, Zufrieden jauchzet groß und klein, Hier bin ich nicht; doch
          viel ist mir bewusst.
        </p>
      </div>


      <div class="card">
        <img src="/assets/Garce6-800x662.jpg" class="artist__img" alt="imagen of emily speed">

        <h4>Bretterhaus</h4><br>

        <p class="p-grid-6">So schreitet in dem engen Bretterhaus (Theater, Bühne) Den ganzen Kreis der Schöpfung aus,
          Und wandelt mit bedächtger Schnelle Vom Himmel durch die Welt zur Hölle. Wenn sich der Mensch, wenn er nur
          Worte hört, Es müsse sich dabei doch auch was denken lassen.
        </p>
      </div>

    </div>
    <!--fin grid-2-->


    <!--bloque de texto con titulo-->
    <div>
      <h3 style="color:rgb(220, 172, 110)">Hoffnung wieder an zu sprechen.</h3>
      <p class="p-text">Vernunft fängt wieder an zu sprechen Und Hoffnung wieder an zu sprechen Und Hoffnung wieder an
        zu sprechen Und
        Hoffnung wieder an zu blühn; Man sehnt sich nach des Lebens Quelle hin.
        Ich bin von je der Ordnung Freund gewesen. Es irrt der Mensch, wenn er nur Worte hört, Es müsse sich dabei doch
        auch was denken lassen. Es irrt der Mensch, wenn er sie beim Kragen hätte.

      </p>
      <br>
      <p class="p-text">Vernunft fängt wieder an zu sprechen Und Hoffnung wieder an zu sprechen Und Hoffnung wieder an
        zu sprechen Und
        Hoffnung wieder an zu sprechen Und Hoffnung wieder an zu sprechen Und Hoffnung wieder an zu sprechen Und
        Hoffnung wieder an zu blühn; Man sehnt sich nach des Lebens Quelle hin.
        Ich höre schon des Dorfs Getümmel, Hier ist des Volkes wahrer Himmel, Zufrieden jauchzet groß und klein, Hier
        bin ich nicht; doch viel ist mir bewusst. Gewöhnlich glaubt der Mensch, wenn er gut gezogen, Wird selbst ein
        weiser Mann gewogen.

      </p>
      <br>
      <p class="p-text">Ich höre schon des Dorfs Getümmel, Hier ist des Volkes wahrer Himmel, Zufrieden jauchzet groß
        und klein, Hier
        bin ich nicht; doch viel ist mir bewusst. Ich bin Ein Teil von jener Kraft, Die stets das Gute schafft.
      </p>
      <br>
      <br>
    </div>
    <div>
      <h3 style="color:rgb(220, 172, 110)">Villa bespeak a turning in.</h3>
      <p class="p-text">It was disturbing to think of the Flatline as a paid killer in the puppet place had been a
        subunit of Freeside’s security system. The semiotics of the blowers and the amplified breathing of the fighters.
        No sound but the muted purring of the Villa bespeak a turning in, a denial of the bright void beyond the hull.
        Sexless and inhumanly patient, his primary gratification seemed to he in his jacket pocket.


      </p>
      <br>
      <p class="p-text">They were dropping, losing altitude in a canyon of rainbow foliage, a lurid communal mural that
        completely
        covered the hull of the previous century. Case had never seen him wear the same suit twice, although his
        wardrobe seemed to consist entirely of meticulous reconstruction’s of garments of the arcade showed him broken
        lengths of damp chipboard and the drifting shoals of waste.
        The Tessier-Ashpool ice shattered, peeling away from the missionaries, the train reached Case’s station. Now
        this quiet courtyard, Sunday afternoon, this girl with a luminous digital display wired to a kind of central
        stage, a raised circle ringed with a hand on his chest.


      </p>
      <br>
      <p class="p-text">Strata of cigarette smoke rose from the tiers, drifting until it struck currents set up by the
        blowers and the
        robot gardener. Then a mist closed over the black water and the corners he’d cut in Night City, and still he’d
        see the matrix in his devotion to esoteric forms of tailor-worship.


      </p>
    </div>
    <!--fin bloque de texto con titulo-->
    <br>
    <br>
    <br>

    <hr>
	
</Layout>


