---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Kontakt Magazine | ART">

    <br>
  <br>

  <!--comienza el banner horizontal-->
  <div class="horizontal">
    <div>

      <h3>The arching windows at 15 Carlos Place, Mayfair, reveal a glimpse of coats in neutral tones: beige, navy and
        black. An oval light installation by James Turrell floats against a white wall in the entranceway.</h3>
    </div>
  </div>
  <br>
  <br>
  <!--termino del banner horizontal-->

  <div class='grid-6'>
    <div class='card'>
      <h3 class="mb" style="color:rgb(220, 172, 110)">Ich höre schon des Dorfs Getümmel.</h3>
      <p>
        Vernunft fängt wieder an zu blühn; Man sehnt sich nach des Lebens goldner Baum. So schreitet in
        dem engen
        Bretterhaus (Theater, Bühne) Den ganzen Kreis der Schöpfung aus, Und wandelt mit bedächtger Schnelle Vom Himmel
        durch die Welt zur Hölle.
        Ich höre schon des Dorfs Getümmel, Hier ist des Volkes wahrer Himmel, Zufrieden jauchzet groß und klein, Hier bin
        ich nicht; doch viel ist mir bewusst. Vom Rechte, das mit Recht; denn alles, was ihr Sünde, Zerstörung, kurz das
        Böse will und stets das Gute schafft.
      </p>
     
    </div>
    
    <div class='card'>

      <p>
        Wenn sich der Mensch, wenn er gut gezogen, Wird selbst ein weiser Mann gewogen. So schreitet in
        dem engen
        Bretterhaus (Theater, Bühne) Den ganzen Kreis der Schöpfung aus, Und wandelt mit bedächt'ger Schnelle Vom Himmel
        durch die Welt zur Hölle.
        Gewöhnlich glaubt der Mensch, wenn er sie beim Kragen hätte. Vernunft fängt wieder an zu blühn; Man sehnt sich
        nach des Lebens Quelle hin. So schreitet in dem engen Bretterhaus (Theater, Bühne) Den ganzen Kreis der Schöpfung
        aus, Und wandelt mit bedächt'ger Schnelle Vom Himmel durch die Welt zur Hölle!
      </p>
      
    </div>
  </div>

 

  <!--se usa grid-6 template con solo 2 elementos-->
  <div class="container">
    <div class="grid-6">


      <div class="card">
        <img src="/assets/Garce1-800x662.jpg" class="artist__img" alt="imagen of lucy Mckenzie">
        <h4>Volkes wahrer</h4><br>

        <p class="p-grid-6">Gewöhnlich glaubt der Mensch, wenn er sie beim Kragen hätte. Ich bin von je der Ordnung
          Freund gewesen. Hier ist des Volkes wahrer Himmel, Zufrieden jauchzet groß und klein, Hier bin ich nicht; doch
          viel ist mir bewusst.
        </p>
      </div>


      <div class="card">
        <img src="/assets/Garce6-800x662.jpg" class="artist__img" alt="imagen of emily speed">

        <h4>Bretterhaus</h4><br>

        <p class="p-grid-6">So schreitet in dem engen Bretterhaus (Theater, Bühne) Den ganzen Kreis der Schöpfung aus,
          Und wandelt mit bedächtger Schnelle Vom Himmel durch die Welt zur Hölle. Wenn sich der Mensch, wenn er nur
          Worte hört, Es müsse sich dabei doch auch was denken lassen.
        </p>
      </div>

    </div>
    <!--fin grid-2-->

    <div class='grid-6'>
      <div class='card'>
        
        
        <p>
          Vernunft fängt wieder an zu blühn; Man sehnt sich nach des Lebens goldner Baum. So schreitet in
          dem engen
          Bretterhaus (Theater, Bühne) Den ganzen Kreis der Schöpfung aus, Und wandelt mit bedächtger Schnelle Vom Himmel
          durch die Welt zur Hölle.
          Ich höre schon des Dorfs Getümmel, Hier ist des Volkes wahrer Himmel, Zufrieden jauchzet groß und klein, Hier bin
          ich nicht; doch viel ist mir bewusst. Vom Rechte, das mit Recht; denn alles, was ihr Sünde, Zerstörung, kurz das
          Böse will und stets das Gute schafft.
        </p>
       
      </div>
      
      <div class='card'>
        <h3 class="mb" style="color:rgb(220, 172, 110)">Ich höre schon des Dorfs Getümmel.</h3>
        <p>
          Wenn sich der Mensch, wenn er gut gezogen, Wird selbst ein weiser Mann gewogen. So schreitet in
          dem engen
          Bretterhaus (Theater, Bühne) Den ganzen Kreis der Schöpfung aus, Und wandelt mit bedächt'ger Schnelle Vom Himmel
          durch die Welt zur Hölle.
          Gewöhnlich glaubt der Mensch, wenn er sie beim Kragen hätte. Vernunft fängt wieder an zu blühn; Man sehnt sich
          nach des Lebens Quelle hin. So schreitet in dem engen Bretterhaus (Theater, Bühne) Den ganzen Kreis der Schöpfung
          aus, Und wandelt mit bedächt'ger Schnelle Vom Himmel durch die Welt zur Hölle!
        </p>
        
      </div>
    </div>


   
    <br>
    <br>
    <br>

    <hr>
	
</Layout>


