---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Kontakt Magazine | Cafeteria">
    
    <main class="cafeteria-card">
       
        <div class="cafeteria-card-item">
            <h3 class="h3-cafeteria">We offer a range of food and drink options.</h3>
            <p>These include cafés, a pizzeria and the Great Court Restaurant. Families are welcome to use our
                family-friendly eating areas, or you can ask for a high chair at the eateries below.</p>
        </div>
        <br>

        <div class="cafeteria-card-item">
            <h3 class="h3-cafeteria">Great Court Restaurant</h3>
            <p>Dine under the magnificent roof of the Great Court. At the Great Court Restaurant, you can enjoy a
                refined dining experience with a casual feel. This atmospheric restaurant is perfect for marking a
                special occasion or treating yourself when you visit the British Museum.</p>
            <p class="cafeteria-card-open"><strong>Open: daily, 11.30–17.00 (last sitting 16.00)</strong></p>
        </div>
        <br>


    <div class="grid-4-imagenes-cafeteria">

        <div class="card">
            <img src="/assets/cafeteria1.jpg" class="imagen-4-cafeteria" alt="Zahoor ul Akhlaq painting">
            
          </div>


      <div class="card">
        <img src="/assets/cafeteria2.jpg" class="imagen-4-cafeteria" alt="imagen of lucy Mckenzie">
       
      </div>


     

      <div class="card">
        <img src="/assets/cafeteria3.jpg" class="imagen-4-cafeteria" alt="imagen of emily speed">

       
      </div>


      <div class="card">
        <img src="/assets/cafeteria4.jpg" class="imagen-4-cafeteria" alt="imagen of emily speed">

       
      </div>


      
      </div>

  
 

    <!--fin grid-6-->
    <br>

        

        <div class="cafeteria-card-item">                  
        <h3 class="h3-cafeteria">Court Cafés</h3>
        <p>On the ground floor of the Great Court you'll find the Court Cafés, serving freshly made sandwiches, snacks,
            salads and cakes as well as a selection of hot and cold drinks. Ideal for grabbing a quick bite or having a
            coffee break while you plan the next step of your Museum visit.</p>
        <p>We have plenty of seating for individuals and groups at the long sharing tables in both the west and
            north-east corners of the Great Court.</p>
        <p class="cafeteria-card-open"><strong>Open: daily, 10.00–17.00</strong></p>
        </div>
        <br>

        <div class="cafeteria-card-item">
            <h3 class="h3-cafeteria">Coffee Lounge</h3>
            <p>This first-floor café is found at the south side of the Museum overlooking the Great Court with a wonderful view of the iconic Reading Room. With plenty of seating and a lively atmosphere, the lounge serves savoury meals, salads, cakes and hot and cold drinks. </p>
        </div>

    </main>
	
</Layout>


