---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Kontakt Magazine'>
  <!--se usa grid-6 template con solo 2 elementos-->
  <div class='container'>
    <div class='grid-6'>
      <div class='card'>
        <img
          src='/assets/chair.jpg'
          class='artist__img'
          alt='imagen of lucy Mckenzie'
        />
      </div>

      <div class='card'>
        <h4>
          Bretterhaus So schreitet in dem engen Bretterhaus (Theater, Bühne) Den
          ganzen Kreis der Schöpfung aus, Und wandelt mit bedächtger Schnelle
          Vom Himmel durch die Welt zur Hölle.
        </h4><br />

        <a href='#'>
          <p class='p-grid-6' style='color:coral ;'>Wenn sich der Mensch.</p>
        </a>
        <p>
          Es irrt der Mensch, wenn er sie beim Kragen hätte. Es irrt der Mensch,
          wenn er sie beim Kragen hätte. Ich bin von je der Ordnung Freund
          gewesen. Es irrt der Mensch, wenn er sie beim Kragen hätte.
        </p>
        <p>
          Ich höre schon des Dorfs Getümmel, Hier ist des Volkes wahrer Himmel,
          Zufrieden jauchzet groß und klein, Hier bin ich nicht; doch viel ist
          mir bewusst. Es irrt der Mensch, wenn er nur Worte hört, Es müsse sich
          dabei doch auch was denken lassen.
        </p>
        <br />
        <br />
        <p>
          Vom Rechte, das mit Recht; denn alles, was ihr Sünde, Zerstörung, kurz
          das Böse will und stets das Gute schafft. So schreitet in dem engen
          Bretterhaus (Theater, Bühne) Den ganzen Kreis der Schöpfung aus, Und
          wandelt mit bedächtger Schnelle Vom Himmel durch die Welt zur Hölle!
        </p>
      </div>
    </div>
    <!--fin grid-2-->
    <!--comienza el banner horizontal-->
    <div class='horizontal' style='background-color: #BCCD91;'>
      <div>
        <h3>
          The arching windows at 15 Carlos Place, Mayfair, reveal a glimpse of
          coats in neutral tones: beige, navy and black. An oval light
          installation by James Turrell floats against a white wall in the
          entranceway.
        </h3>
      </div>
    </div>
    <br />
    <br />
    <!--termino del banner horizontal-->

    <!--se usa grid-6 para 3 fotos horizontal-->
    <div class='container'>
      <div class='grid-6'>
        <div class='card'>
          <img
            src='/assets/AV1-interior.jpg'
            class='artist__img'
            alt='interior design furniture'
          />
          <p class='p-grid-6'>
            <strong>Zufrieden jauchzet groß und klein.</strong>
          </p>
          <p class='p-grid-6'>
            So schreitet in dem engen Bretterhaus (Theater, Bühne) Den ganzen
            Kreis der Schöpfung aus, Und wandelt mit bedächt'ger Schnelle Vom
            Himmel durch die Welt zur Hölle!
          </p>
        </div>
        <div class='card'>
          <img
            src='/assets/AV2-interior2.jpg'
            class='artist__img'
            alt='furniture interior design'
          />
          <p class='p-grid-6'><strong>Ordnung Freund gewesen.</strong></p>
          <p class='p-grid-6'>
            Vernunft fängt wieder an zu blühn; Man sehnt sich nach des Lebens
            goldner Baum. Vernunft fängt wieder an zu sprechen Und Hoffnung
            wieder an zu blühn; Man sehnt sich nach des Lebens goldner Baum.
          </p>
        </div>
        <div class='card'>
          <img
            src='/assets/VincentvanDuysenstair.jpg'
            class='artist__img'
            alt='interior design furniture'
          />
          <p class='p-grid-6'><strong>beim Kragen hätte.</strong></p>
          <p class='p-grid-6'>
            Wenn sich der Mensch, wenn er sie beim Kragen hätte. Es irrt der
            Mensch, wenn er sie beim Kragen hätte. Es irrt der Mensch, wenn er
            gut gezogen, Wird selbst ein weiser Mann gewogen.
          </p>
        </div>
      </div>
      <!--fin grid-3 fotos horizontal-->
      <div class='dos-parrafos'>
        <div>
          <p class='dos-parrafos-texto'>
            Every nook in the apartment is used, from the bedroom, where a
            Stanley Whitney canvas hangs beside the window, to the dining room,
            where works from various artists, including Tracey Emin and Nicolas
            Party, are grouped together according to the theme of sexuality.
            Together, the spaces are a guide to Van Hagen’s tastes that clients
            can explore in person. “A lot of my clients visit me at home,” says
            Van Hagen. “I never sell any of the works here, but I tend to
            support the artists that I also collect.”
          </p>
        </div>
        <div>
          <p class='dos-parrafos-texto'>
            Van Hagen’s clients are scattered across the globe, many of them
            living in China, Taiwan, South Korea, and other parts of Asia –
            hence the importance of holding What’s Up shows in Seoul and Hong
            Kong. “Not everyone can visit me in London, so my shows in other
            countries allow potential clients to discover my tastes,” he says,
            “I tend to keep things more blue-chip for Hong Kong shows, but still
            with a mix of work across the whole spectrum, with prices from a
            couple of thousand dollars to 15 million. Many of my clients become
            friends. Whether they are in their 80s, 50s or 20s, I have a very
            personal relationship with all of them. It is easier that way; they
            know what I’m made of, and conversations are easier.
          </p>
        </div>
      </div>
      <div class='dos-parrafos'>
        <div>
          <p class='dos-parrafos-texto'>
            Every nook in the apartment is used, from the bedroom, where a
            Stanley Whitney canvas hangs beside the window, to the dining room,
            where works from various artists, including Tracey Emin and Nicolas
            Party, are grouped together according to the theme of sexuality.
            Together, the spaces are a guide to Van Hagen’s tastes that clients
            can explore in person. “A lot of my clients visit me at home,” says
            Van Hagen. “I never sell any of the works here, but I tend to
            support the artists that I also collect.”
          </p>
        </div>
        <div>
          <p class='dos-parrafos-texto'>
            Van Hagen’s clients are scattered across the globe, many of them
            living in China, Taiwan, South Korea, and other parts of Asia –
            hence the importance of holding What’s Up shows in Seoul and Hong
            Kong. “Not everyone can visit me in London, so my shows in other
            countries allow potential clients to discover my tastes,” he says,
            “I tend to keep things more blue-chip for Hong Kong shows, but still
            with a mix of work across the whole spectrum, with prices from a
            couple of thousand dollars to 15 million. Many of my clients become
            friends. Whether they are in their 80s, 50s or 20s, I have a very
            personal relationship with all of them. It is easier that way; they
            know what I’m made of, and conversations are easier.
          </p>
        </div>
      </div>
    </div>

    <hr />
  </div>
</Layout>
