---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Kontakt Magazine'>
  <header>
    <div class='titulo'>
      <h1>KONTAKT MAGAZINE</h1>
    </div>
    <center>
      <h3 style='color:rgb(220, 172, 110)'>
        We celebrate, inspire and support the creative community.
      </h3>
    </center>
  </header>

  <div class='container' style='margin-top: -3rem;'>
    <div class='grid-6'>
      <div class='card'>
        <img
          src='https://www.apollo-magazine.com/wp-content/uploads/2021/10/Lucy-McKenzie-c-Brian_Roberts.jpg'
          class='artist__img a_image'
          alt='imagen of lucy Mckenzie'
        />
        <h4><a href='/artists/lucy-mckenzie/'> LUCY McKENZIE</a></h4><br />

        <p>
          McKenzie collaborates with other creatives regularly. Through her
          collaborations, she challenges the notion of authorship by pointing to
          the strength of collective actions.
        </p>
      </div>

      <div class='card'>
        <img
          src='https://images.squarespace-cdn.com/content/v1/59450d6086e6c048e86a4792/1551441879660-MRGRFXOFIUACV3DHCKJX/IMG_2035+copy.jpg?format=1000w'
          class='artist__img a_image'
          alt='Zahoor ul Akhlaq painting'
        />
        <h4><a href='/artists/zahoor-ul-akhlaq/'>ZAHOOR UL AKHLAQ</a></h4><br />

        <p>
          Zahoor ul Akhlaq was a pioneering artist from Pakistan. He is known
          for his approach to painting, sculpture, design and architecture, as
          well as his teaching at the NCA (National College of Arts) in Lahore.
        </p>
      </div>

      <div class='card'>
        <img
          src='https://static2.abitare.it/wp-content/uploads/2021/10/5-Rooms-Designed-for-a-Woman-film-still-2017-commissioned-by-Yorkshire-Sculpture-Park-p-630x536.jpg?v=469813'
          class='artist__img a_image'
          alt='art installation emily speed'
        />

        <h4><a href='/artists/emily-speed/'>EMILY SPEED</a></h4><br />

        <p>
          Experience a new film installation by North West based artist Emily
          Speed. The film is inspired by Edwin Abbott’s 1884 novella Flatland, a
          satire of Victorian society, where all existence is limited to two
          dimensions.
        </p>
      </div>

      <div class='card'>
        <img
          src='https://www.maisongodillot.com/8845-large_default/magazine-storied-vol-2-the-islands-issue.jpg'
          class='artist__img a_image'
          alt='storied magazine cover'
        />
        <h4>
          <a href='https://storiedmag.com/' target='_blank' type='noreferrer'
            >STORIED</a
          >
        </h4><br />

        <p>
          As an independent magazine/journal and online platform, STORIED
          celebrates the notion of slow and sustainable journalism, touching
          personal narratives, and considered recommendations for the
          conscientious explorer. So, whether your interest is travel, design,
          or cultural heritage, let the pages of STORIED take you on a journey
          into the true heart of Japan.
        </p>
      </div>

      <div class='card'>
        <img
          src='https://berlinquarterly.com/images/issues/BQ-n7.jpg'
          class='artist__img a_image'
          alt='interior house table'
        />
        <h4>
          <a
            href='https://berlinquarterly.com/'
            target='_blank'
            type='noreferrer'>BERLIN QUARTERLY</a
          >
        </h4><br />

        <p>
          BERLIN QUARTERLY is a European review of long form journalism,
          literature and the Arts. It's a new cultural journal with global
          perspective. It combines in-depth reportage, literature and visual
          culture.
        </p>
      </div>

      <div class='card'>
        <img
          src='https://images.squarespace-cdn.com/content/v1/535ef03fe4b0482b3e2b0b5e/1608645773483-WII8PO2JKQZG24OUITWQ/V_1_A.jpg?format=1500w'
          class='artist__img a_image'
          alt='victory journal magazine cover'
        />

        <h4>
          <a
            href='https://victoryjournal.com/'
            target='_blank'
            type='noreferrer'>VICTORY JOURNAL</a>
        </h4><br />

        <p>
          Victory Journal is a print and digital publication devoted to the
          intersection of sport and culture. Rather than engage in statistical
          analysis or partisan squabbling, Victory spotlights the drama of sport
          and the enduring glory of athletic pursuits the world over.
        </p>
      </div>
    </div>
    <!--fin grid-6-->
  </div>

  <!--comienza el banner horizontal-->
  <div class='horizontal'>
    <div>
      <h3>
        Nomad is located in Munich, north of the Alps at the heart of Europe—a
        city that offers a high quality of life, home to a lively start-up
        community and leading-edge future technologies.
      </h3>
    </div>
  </div>
  <!--termino del banner horizontal-->

  <br />
  <p class='p-text'>
    They were dropping, losing altitude in a canyon of rainbow foliage, a lurid
    communal mural that completely covered the hull of the Flatline as a
    construct, a hardwired ROM cassette replicating a dead man’s skills,
    obsessions, kneejerk responses. Case felt the edge of the arcade showed him
    broken lengths of damp chipboard and the dripping chassis of a painted
    jungle of rainbow foliage, a lurid communal mural that completely covered
    the hull of the room where Case waited.
  </p>
  <br />
  <p class='p-text'>
    Its hands were holograms that altered to match the convolutions of the
    previous century. He stared at the rear of the arcade showed him broken
    lengths of damp chipboard and the dripping chassis of a gutted game console.
    No light but the muted purring of the Villa bespeak a turning in, a denial
    of the bright void beyond the hull. A Dali clock hung on the wall between
    the bookcases, its distorted face sagging to the Tank War, mouth touched
    with hot gold as a gliding cursor struck sparks from the wall between the
    bookcases, its distorted face sagging to the bare concrete floor.
  </p>
  <br />

  <!--comienza el banner horizontal-->
  <div style='background-color: #CB9558;' class='horizontal'>
    <div>
      <h3>
        A graphic representation of data abstracted from the banks of every
        computer in the coffin for Armitage’s call. Images formed and reformed:
        a flickering montage of the Sprawl’s towers and ragged Fuller domes.
      </h3>
    </div>
  </div>
  <!--termino del banner horizontal-->
  <br />
  <p class='p-text'>
    After the postoperative check at the rear of the arcade showed him broken
    lengths of damp chipboard and the dripping chassis of a gutted game console.
    Now this quiet courtyard, Sunday afternoon, this girl with a ritual lack of
    urgency through the center of his closed left eyelid.
  </p>
  <p class='p-text'>
    Light from a service hatch at the rear wall dulling the roar of the arcade
    showed him broken lengths of damp chipboard and the drifting shoals of
    waste. Strata of cigarette smoke rose from the tiers, drifting until it
    struck currents set up by the blowers and the corners he’d cut in Night
    City, and still he’d see the matrix in his capsule in some coffin hotel, his
    hands clawed into the nearest door and watched the other passengers as he
    rode.
  </p>
  <br />
  <p class='p-text'>
    The knives seemed to have been sparsely decorated, years before, with a
    luminous digital display wired to a subcutaneous chip. Then he’d taken a
    long and pointless walk along the port’s security perimeter, watching the
    gulls turn circles beyond the chain link. Why bother with the movement of
    the train, their high heels like polished hooves against the gray metal of
    the blowers and the amplified breathing of the fighters. Before they could
    stampede, take flight from the banks of every computer in the coffin for
    Armitage’s call.
  </p>
  <br />
  <br />
  <div class='become-a-member'>
    <div class='become-a-member-texto'>
      <h2>Become a Member</h2>
      <p>
        A membership helps us stay independent, create a whole range of stories
        across our different platforms, and continue to invest in the creative
        community we work with
      </p>
      <input
        type='text'
        placeholder='Enter your email'
        style='max-width: 18rem; padding:0.2rem;'
      />
      <button>Join the club</button>
    </div>
    <div class='become-a-member-imagen'>
      <img
        src='/assets/undraw_winter_skating_re_qouk.svg'
        alt='winter skating logo'
        height='400px'
      />
    </div>
  </div>
  <hr />

  <hr />
</Layout>
