---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Kontakt Magazine'>
  <header>
    <div class='titulo'>
      <h1>KONTAKT MAGAZINE</h1>
    </div>
    <center>
      <h3 style='color:rgb(220, 172, 110)'>
        We celebrate, inspire and support the creative community.
      </h3>
    </center>
  </header>

  <main class='container' style='margin-top: -3rem;'>
    <div class='grid-6'>
      <div class='card'>
        <img
          src='/assets/lucy.jpg'
          class='artist__img a_image'
          alt='imagen of lucy Mckenzie'
        />
        <a href='/artists/lucy-mckenzie/' class='link-principal'>
          LUCY McKENZIE</a
        ><br />

        <p>
          McKenzie collaborates with other creatives regularly. Through her
          collaborations, she challenges the notion of authorship by pointing to
          the strength of collective actions.
        </p>
      </div>

      <div class='card'>
        <img
          src='/assets/zahoor.jpg'
          class='artist__img a_image'
          alt='Zahoor ul Akhlaq painting'
        />
        <a href='/artists/zahoor-ul-akhlaq/' class='link-principal'
          >ZAHOOR UL AKHLAQ</a
        ><br />

        <p>
          Zahoor ul Akhlaq was a pioneering artist from Pakistan. He is known
          for his approach to painting, sculpture, design and architecture, as
          well as his teaching at the NCA (National College of Arts) in Lahore.
        </p>
      </div>

      <div class='card'>
        <img
          src='/assets/emily.jpg'
          class='artist__img a_image'
          alt='art installation emily speed'
        />

        <a href='/artists/emily-speed/' class='link-principal'>EMILY SPEED</a
        ><br />

        <p>
          Experience a new film installation by North West based artist Emily
          Speed. The film is inspired by Edwin Abbott’s 1884 novella Flatland, a
          satire of Victorian society, where all existence is limited to two
          dimensions.
        </p>
      </div>

      <div class='card'>
        <img
          src='/assets/storied.jpg'
          class='artist__img a_image'
          alt='storied magazine cover'
        />

        <a
          href='https://storiedmag.com/'
          class='link-principal'
          target='_blank'
          type='noreferrer'>STORIED</a
        >
        <br />

        <p>
          As an independent magazine/journal and online platform, STORIED
          celebrates the notion of slow and sustainable journalism, touching
          personal narratives, and considered recommendations for the
          conscientious explorer. So, whether your interest is travel, design,
          or cultural heritage, let the pages of STORIED take you on a journey
          into the true heart of Japan.
        </p>
      </div>

      <div class='card'>
        <img
          src='/assets/berlin.jpg'
          class='artist__img a_image'
          alt='interior house table'
        />
        
          <a
            href='https://berlinquarterly.com/'
            class='link-principal'
            target='_blank'
            type='noreferrer'>BERLIN QUARTERLY</a
          >
        <br />

        <p>
          BERLIN QUARTERLY is a European review of long form journalism,
          literature and the Arts. It's a new cultural journal with global
          perspective. It combines in-depth reportage, literature and visual
          culture.
        </p>
      </div>

      <div class='card'>
        <img
          src='/assets/victory.jpg'
          class='artist__img a_image'
          alt='victory journal magazine cover'
        />

        
          <a
            href='https://victoryjournal.com/'
            class="link-principal"
            target='_blank'
            type='noreferrer'>VICTORY JOURNAL</a
          >
        <br />

        <p>
          Victory Journal is a print and digital publication devoted to the
          intersection of sport and culture. Rather than engage in statistical
          analysis or partisan squabbling, Victory spotlights the drama of sport
          and the enduring glory of athletic pursuits the world over.
        </p>
      </div>
    </div>
    <!--fin grid-6-->
  </main>

  <!--comienza el banner horizontal-->
  <div class='horizontal'>
    <div style="max-width: 1366px; margin-inline:auto;">
      <h3>
        Nomad is located in Munich, north of the Alps at the heart of Europe—a
        city that offers a high quality of life, home to a lively start-up
        community and leading-edge future technologies.
      </h3>
    </div>
  </div>
  <!--termino del banner horizontal-->

  <br />

  <div class='grid-6' style="max-width: 1366px; margin-inline:auto;">
    <div class='card'>
      <p>
        The light drew Hans Hartung and Eva Bergman to France’s Côte d’Azur. To
        understand it, go to their former home in Antibes, a white modernist
        complex built for the two married painters in the 1960s. You will see
        what they saw. The air is crisp in the morning, tinged light blue like
        the sky. The colours are brilliant by midday, blinding. Then the palette
        thickens, enriched by yellow tones as the hours go on. And if you stand
        on the platform of stone that hosts the blue square of the swimming
        pool, that looks out past the olive grove and the studio buildings,
        beyond the terracotta roofs and cypress trees, you will see the light in
        all its colours refracting on the sea.
      </p>
      <br />
      <p>
        “When lights and colours come together, when they blur, naturally we are
        drawn to it,” says Thomas Schlesser, director of the Hartung Bergman
        Foundation, a space newly opened to the public that is based in their
        former home. “The blur suggests a distance that you want to close; it
        forces you to pause, and interpret.” Though he might just as easily be
        speaking of the view, Schlesser is talking of Hartung and Bergman’s
        work.
      </p>
    </div>
    <div class='card'>
      <img
        class='artist__img a_image'
        src='https://readcereal.com/wp-content/uploads/2022/08/HARTUNGBERGMAN_01_final2-800x540.jpg'
        alt='hartung house'
      />
    </div>
  </div>

  <br />

  <br />

  <!--comienza el banner horizontal-->
  <div style='background-color: #CB9558;' class='horizontal'>
    <div style="max-width: 1366px; margin-inline:auto;">
      <h3>
        A graphic representation of data abstracted from the banks of every
        computer in the coffin for Armitage’s call. Images formed and reformed:
        a flickering montage of the Sprawl’s towers and ragged Fuller domes.
      </h3>
    </div>
  </div>
  <!--termino del banner horizontal-->
  <br />

  <div class='grid-6' style="max-width: 1366px; margin-inline:auto;">
    <!-- empieza grid 6 texto -->
    <div class='card'>
      <div class='card'>
        <img
          src='/assets/arcos.jpg'
          class='artist__img a_image'
          alt='kinkfolk journal magazine cover'
        />
      </div>
    </div>

    <div class='card'>
      <p>
        Bergman endured the struggles of a woman artist in her time. “She did
        not receive much recognition,” Schlesser says of Hartung’s wife. Their
        home leaves traces of their story. The swimming pool suggests Hartung’s
        love of fitness; it also suggests a remedy to his lack of exercise after
        losing one of his legs fighting with the French foreign legion.
      </p>
    </div>

    <div class='card'>
      <p>
        Hartung and Bergman’s separate studios suggest different methods: while
        Hartung worked often under a neon glow through the night, Bergman
        preferred daylight. And the fact of the house’s existence is an ode to
        the pair’s final coming together. She would photograph the landscape of
        the region and reduce it to its basic forms in painterly compositions, a
        technique her husband shared.
      </p>
    </div>

    <div class='card'>
      <div class='card'>
        <img
          src='/assets/kinkfolk.jpg'
          class='artist__img a_image'
          alt='kinkfolk journal magazine cover'
        />
      </div>
    </div>

    <div class='card'>
      <p>
        The two painters were married young but divorced in 1939, due to health
        complications and the War. They drew up plans for the home jointly,
        finally tasking an architect to execute them after they reunited and
        remarried in 1957. In her paintings, a rock becomes a circle, a crevice
        a parabola, a cliff face a square.
      </p>
    </div>

    <div class='card'>
      <p>
        But understanding how the couple lived requires some guesswork. There
        are gaps in our knowledge. We can imagine them peering out at the sea;
        diving into the pool; working restlessly from their studios. The
        foundation encourages this. But still the outline is slight, a ghost of
        their lives. It is for us to interpret. This makes it richer. It is as
        if we are looking at a landscape, but see only a faint blur.
      </p>
    </div>
  </div><!--fin grid-6-->

  <br />
  <br />
  <div class='become-a-member'>
    <div class='become-a-member-texto'>
      <h2>Become a Member</h2>
      <p>
        A membership helps us stay independent, create a whole range of stories
        across our different platforms, and continue to invest in the creative
        community we work with
      </p>
      <input
        type='text'
        placeholder='Enter your email'
        style='max-width: 18rem; padding:0.2rem;'
      />
      <button>Join the club</button>
    </div>
    <div class='become-a-member-imagen'>
      <img
        src='/assets/undraw_winter_skating_re_qouk.svg'
        alt='winter skating logo'
        height='400px'
      />
    </div>
  </div>
  <hr />

  <hr />
</Layout>

<style>
  main {
    max-width: 1366px;
    margin-inline: auto;
  }
  .link-principal {
    list-style: none;
    font-size: 1.5rem;
    border-bottom: 2px solid transparent;
    transition: border-color 0.7s ease-in-out;
  }

  .link-principal:hover {
    border-bottom: 2px solid #dabc5a;
  }
  input[type='text'] {
    background-color: whitesmoke;
    border: 2px solid #5555;
    border-radius: 4px;
    padding-inline: 0.3rem;
    outline: none;
  }
  input[type='text']:focus {
    border: 2px solid coral;
  }
</style>
