---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Kontakt Magazine | Support">
    <main class="main-about-us">
        <h3 class="h3-cafeteria">Support Us</h3>
        <p>Kontakte Magazine is a leading voice on contemporary art and a forum for conversations on issues of social and economic justice in the art community. Your support helps fund our independent journalism and keeps our reporting and criticism free and accessible to all.</p>
        <p>Become a member today to support our independent journalism. Your financial support helps keep our reporting and criticism free and accessible to all.</p>
        <br>
        <br>
        <h3 class="h3-cafeteria">Advertise with us</h3>
        <p>We reach a global audience of over 1 million unique readers a month and have partnered with countless arts institutions and businesses to raise awareness of exhibitions, events, programs, and products.</p>
        <br>
        <h3 class="h3-cafeteria">Philanthropic support</h3>
        <p>Foundation grants help ensure that we can continue to invest in our editorial operations and cover important, often neglected topics at the heart of our mission.</p>
    </main>
	
</Layout>


