---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Kontakt Magazine | Teachers'>
  <main class='main-about-us'>
    <br />
    <p>
      Our teachers come from diverse backgrounds, but we share a common goal: to
      inspire and empower our students to explore their creativity and develop
      their artistic skills. Our team includes experienced editors, writers, and
      artists who have worked in various fields of the art industry.
    </p>
    <p>
      We believe that learning is a collaborative process, and we strive to
      create a supportive and inclusive environment where students can learn
      from each other as well as from our teachers. Our courses are designed to
      be hands-on, interactive, and engaging, and we encourage our students to
      experiment and take risks in their work.
    </p>
    <br />
    <p>
      A large part of a Kontakt educational experience can be found among your
      fellow students. As a selective arts institution, your peers will not only
      push you to excel, but also partner with you in creative collaborations.
      The original vision for Kontakt was to create a shared space where both
      visual and performing art forms could cross-pollinate, creating a
      collaborative, interdisciplinary arts environment. Many artistic
      partnerships that began organically at Kontakt have long continued after
      graduation.
    </p>

    <br />

    <br />
    <img
      src='https://www.moma.org/d/p/sa/fotofilipteachersmoma9813.jpg'
      alt='office-magazine'
    />
  </main>
  <br />
</Layout>
