---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Kontakt Magazine | Teachers'>
  <main class='main-about-us'>
    <br />
    <p>
      Kontakte Magazine is one of the leading magazines dedicated to the
      creative industry.
    </p>
    <p>
      In addition to showcasing stunning works of art, our magazine also
      features interviews with leading figures in the industry, as well as
      thought-provoking articles on the latest trends and developments in the
      world of art and design. Our lifestyle section offers a glimpse into the
      world of art and design beyond the canvas, with tips on incorporating art
      into daily life and recommendations on design-centric events and products.
    </p>
    <br />
    <p>
      From artists, designers and makers to illustrators, photographers,
      filmmakers and animators – we support creatives at every stage of their
      careers, from leaving education to employment, freelancing or leading a
      team.
    </p>
    <br />
    <img
      src='https://www.moma.org/d/p/sa/fotofilipteachersmoma9813.jpg'
      alt='office-magazine'
    />
  </main>
  <br />
</Layout>
