---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Kontakt Magazine | Tours'>
  <main class='main-about-us'>
    <br />
    <p>
      The best way to learn about Kontakt is to experience it firsthand. Tours can offer an insider's perspective on what makes Kontakt unique: from its innovative curriculum and student traditions to its world-class faculty and legacy of pioneering research.
    </p>
    <p>
      Prospective students and their families are encouraged to take part in student-led tours as well as information sessions with admissions counselors that detail undergraduate academic and student life.
    </p>
    <br />
    <br />
    
    <p>
      Kontakt welcomes groups by appointment and offers discounted rates for parties of up to 30 visitors. Skip the line with expedited check-in and receive a dedicated arrival time exclusively for your group.
    </p>
    <img
      src='https://pic1.zhimg.com/50/v2-594b44f848ca1a9278e909ba8fe0246b_720w.jpg?source=1940ef5c'
      alt='office-magazine'
    />
  </main>
  <br />
</Layout>
