---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Kontakt Magazine | Warehouse">
    <main class="main-about-us">
      <br />
        <h3 class="h3-cafeteria">Warehouse</h3>
        <br>
        <p>The warehouse museum is a unique and fascinating look into the industrial past of our country. Housed in a
          beautifully restored 19th century warehouse, the museum showcases an impressive collection of tools, machines, and
          artifacts used in the daily operations of the warehouse.</p>
        <p>Visitors are immediately struck by the impressive engineering feats that made this warehouse possible, from the
          intricate systems of pulleys and gears that powered the machinery to the hand-cranked elevators that lifted heavy
          loads. The exhibits give a real sense of the skill and craftsmanship that went into building and operating the
          warehouse.</p>
          <br>
    
        <img src="https://bmagblog.files.wordpress.com/2013/08/mcc-warehouse.jpg" alt="warehouse">
        
        <p>The museum's focus on the people who made the warehouse run is particularly noteworthy. Through interactive exhibits and engaging displays, visitors can learn about the lives of the workers who toiled long hours to keep the warehouse running smoothly, as well as the managers who oversaw the operation. The human touch adds a unique perspective and helps to bring the history to life.</p>
        <br>
    
        <img src="https://www.museumoflondon.org.uk/application/files/9814/6177/6438/warehouse-baskets.jpg" alt="warehouse interior">
    
      </main>
	
</Layout>


